# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on: push

jobs:
  build:
    name: Setup, Lint, Type check, Build, Test, Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@master
        with:
          version: 12.x

      - name: Install yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Generate Schema, Types and Hooks
        run: yarn generate

      - name: Lint
        run: yarn lint

      - name: Type check
        run: yarn type-check

#       - name: Test
#         run: npm test

      - name: Build
        run: yarn build
